@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

*{
  font-family: O utfit;
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}


@media(max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}